:root {
    --primary-text-color: #2E2F42;
    --title-text-color: #434455;
    --accent-color:#4D5AE5;
    --primary-bg-color: #E5E5E5;;

}





body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);

    font-family:'Roboto', sans-serif;
    letter-spacing: 0.02em;
}
/* основний колір текст #2E2F42 */
/* вторинний колір параграф #434455; */
/* колір акценту #4D5AE5;*/
/* вторичний колір фона #F4F4FD; */
/* колір фона основний #E5E5E5; */

.list { 
    list-style: none;
}

.logo {
    color: var(--primary-text-color);
    font-family: 'Raleway';
font-size: 18px;
line-height: 1.33;
 text-decoration: none;

}
.logo .texte {
color: var(--accent-color);
} 

.logo:hover{
    color:var(--accent-color);
}
/* site-nav */
.site-nav .link {
    color:var(--accent-color);
 font-family: 'Raleway';   

font-weight: 600;
font-size: 16px;
line-height: 1,5;
text-decoration: none;

}


.site-nav .link:hover,
.site-nav .link:focus{
 color: var(--title-text-color)


}
.site-nav .link.current {
    color: #000000;
    text-decoration: none;
}
.list {

font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-decoration: none;



}

.contact {
    text-decoration: none;

}

.contact:hover {
    color: var(--title-text-color);

}


/* Hero */
.hero {
    background: #2E2F42;
}
.hero-title {
    color: 
#FFFFFF;

font-weight: 600;
font-size: 56px;
line-height: 1.07;
align-items: center;

}
.section {
    text-decoration: none;
}

.section-title {
    color: var(--primary-text-color);


font-weight: 600;
font-size: 36px;
line-height: 1.11;

text-align: center;



}
.section-team {
    background: #F4F4FD;
}

.section-descriptioh {
font-weight: 400;
font-size: 16px;
line-height: 1.5;



}

/* Feature */

.feature-list .title {
    color: var(--title-text-color)

}
.feature-list .link {
    color:var(--accent-color);
}

.feature-list .text {
    color: var(--title-text-color);
   

}

/* Button */
.button {
    color: #ffffff;
    background-color: var(--accent-color);

 font-weight: 600;
font-size: 16px;
line-height: 1,9;

text-decoration: none;

}
.button:hover {
    background-color:#404BBF

}

.button.primary {
    color: var(--accent-color);
    background-color: #ffffff ;

    align-items: center;

}